# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- SQL
- Java
- JavaScript
- Python
- R

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. Pandas
3. NumPy
4. MatPlotLib

|Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author
Cesar A.